*{
    padding: 0;
    margin: 0;
}

main {
background-image: linear-gradient(to bottom, #2A323F ,#101114);
width: 100%;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
/* flex-direction: column; */
}

.login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1vh;
}

.login > h2 {
    font-size: 25pt;
    font-family: "Catamaran", sans-serif;
    color: aliceblue;
}

.login > h3 {
    font-size: 10pt;
    text-align: center;
    font-family: "Catamaran", sans-serif;
    color: aliceblue;
    width: 19vw;
}

.login > input {
    padding-left: 3%;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.campo {
    background-color: #606873;
    border: none;
    border-radius: 30px;
    color: white;
    width: 20vw;
    height: 5vh;
}

.campo::placeholder {
    color: white;
}

.esquerda{
    /* background-color: blue; */
    width: 50vw;
    height: 80vh;
    /* background-image: url(imagens/cao.png);
    background-repeat: no-repeat;
    background-size: cover; */
    display: flex;
    justify-content: center;
}
.direita {
    /* background-color: red; */
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.forms {
    background-color: #2A3240;
    width: 30vw;
    height: 70vh;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vh;
}

.botao{
    background-color: #4990E3;
    border: none;
    border-radius: 30px;
    color: white;
    width: 10vw;
    height: 5vh;
}
