/* styles.css */
 
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0E1429;
}
 
header {
    background-color: #3f4a69;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
 
h1 {
    margin: 0;
}
 
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}
 
.post {
    background-color: #2A3240;
    border: 1px solid #2A3240;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
 
.post h2 {
    margin-top: 0;
}
 
.post .date {
    color: #ffffff;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.post .content {
    color: #ffffff;
    font-size: 0.9em;
    margin-bottom: 10px;
}
 
.post img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
 
.post .content {
    line-height: 1.6;
}
 
.post button {
    background-color: #4990E3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
 
.post button:hover {
    background-color: #446fa0;
}
 
footer {
    background-color: #3f4a69;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
 
@media (max-width: 600px) {
    main {
        padding: 0 10px;
    }
 
    .post {
        padding: 15px;
    }
 
    footer {
        padding: 5px 0;
    }
}